.body{
    text-align:center;
    background-color: #d3e0ea;
    padding: 30px;
    color: #1687a7;

}
h1{
    margin-bottom: 10px;
}
.body-data
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.body-data >input{
    width: 275px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.btn
{
   background-color: #d3e0ea;
   color: #1687a7;
   border-radius: 5px;
   height: 40px;
   width:150px;
}